alembic
anyio
asgiref
blinker
certifi
click
colorama
Django
djangorestframework
djangorestframework-simplejwt
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
load-dotenv
Mako
MarkupSafe
PyJWT
python-dotenv
python-telegram-bot
sniffio
SQLAlchemy
sqlparse
typing_extensions
tzdata
Werkzeug
psycopg2
gunicorn
